* {
    box-sizing: border-box;
} 

body {
    background-color: #F4EFEB;
    color: #2B2625;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 300px;
}

div {
    margin-top: 50px;
}

.recipe-title {
    font-family: 'Pacifico', cursive;
    margin: 20px auto;
    width: 1000px;
}

.main-page-title {
    font-family: 'Pacifico', cursive;
}